{{> header}}

{{#if message}}
  <div class="alert alert-{{message.type}}" role="alert">
    {{message.message}}
  </div>
{{/if}}

{{> navbar}}
<div class="container pt-5 mb-5">
    <form action="/register" method="POST">
        <h1 class="h3 mb-3 fw-bold">Register</h1>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="name@email.com">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Input your name">
        </div>
        <div class="mb-3">
            <label for="no_ktp" class="form-label">NIK</label>
            <input type="text" class="form-control" name="no_ktp" id="no_ktp" placeholder="Input your ktp number">
        </div>
        <div class="mb-3">
            <label class="form-label" for="address">Address</label>
            <textarea class="form-control" name="address" id="address" rows="4" placeholder="Input address"></textarea>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="number" class="form-control" name="phone" id="phone" placeholder="Input your phone number">
        </div>
        <div class="mb-3">
            <label for="select" class="form-label">Status</label>
            <select class="form-select" aria-label="Default select" name="status" id="select">
                <option>Select Status</option>
                <option value="1">Admin</option>
                <option value="2">User</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{{> footer}}