{{> header}}
{{> navbar}}
<div class="container pt-5 mb-5">
    <form action="/car/addRent" method="POST">
        <h1 class="h3 mb-3 fw-bold">Add Rent</h1>
        <div class="mb-3">
            <label for="borrow_date" class="form-label">Borrow Date</label>
            <input type="date" class="form-control" name="borrow_date" id="borrow_date" required>
        </div>
        <div class="mb-3">
            <label for="return_date" class="form-label">Return Date</label>
            <input type="date" class="form-control" name="return_date" id="return_date" required>
        </div>
        <div class="mb-3">
            <label for="sub_total" class="form-label">Subtotal</label>
            <input type="number" class="form-control" name="sub_total" id="sub_total" placeholder="Input Subtotal" required>
        </div>
        <div id="preview" class="mb-3"></div>
        <div class="mb-3">
            <label for="car_id" class="form-label">Car</label>
            <select class="form-select" aria-label="Default select" name="car_id" id="car_id">
                {{#each car}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

{{!-- <script>
    function handleChange(){
        const element = document.getElementById('preview');
        const value = URL.createObjectURL(event.target.files[0]);
        console.log(value);
        element.innerHTML = `<img src="${value}" style="width:250px;" class="mt-3">`;
    }
</script> --}}
{{> footer}}